
/*BUTTON*/

.wc-buttonNew {
    --tintColor: #7e61b0;
    background-color: var(--tintColor);
    border: 0;
    box-shadow: 0 1px 4px rgba(0,0,0,0.25);
    cursor: pointer;
    padding: 2px 16px;
    border-radius: 18px;
    color: #ffffff;
    text-align: center;
    min-width: 70px;
}

.wc-button-icon {
    --tintColor: #7e61b0;
    background-color: var(--tintColor);
    border: 0;
    box-shadow: 0 1px 4px rgba(0,0,0,0.25);
    cursor: pointer;
    padding: 2px 24px;
    border-radius: 18px;
    color: #ffffff;
}

.buttonContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wc-buttonNew:hover {
    background-color: var(--tintColor);
    filter: grayscale(25%);
}

.wc-buttonNewDisabled {
    background-color: #c4c0c0;
    border: 0;
    box-shadow: 0 1px 4px rgba(0,0,0,0.25);
    cursor: no-drop;
    padding: 2px 16px;
    border-radius: 18px;
    color: #ffffff;
    text-align: center;
    min-width: 70px;
}

.wc-button-iconDisabled {
    background-color: #c4c0c0;
    border: 0;
    box-shadow: 0 1px 4px rgba(0,0,0,0.25);
    cursor: no-drop;
    padding: 3.5px 16px;
    border-radius: 18px;
    color: #ffffff;
    min-width: 70px;
}

.buttonWithIcon {
    display: flex;
    flex-direction: row;
    color: white;
    margin-top: 4px;
}

.labelButton {
    color: white;
    margin-top: 6px;
}

.labelButtonIcon {
    margin-top: 5px;
    margin-left: 6px;
}

.disabled-button {
    opacity: 0.6;
    pointer-events: none;
    user-select: none;
    cursor: not-allowed;
}

.wc-button {
    --tintColor: #7e61b0;
    background-color: var(--tintColor);
    border: 0;
    box-shadow: 0 1px 4px rgba(0,0,0,0.25);
    cursor: pointer;
    padding: 9px 24px;
    border-radius: 18px;
    color: #ffffff;
}

.wc-button-icon {
    --tintColor: #7e61b0;
    background-color: var(--tintColor);
    border: 0;
    box-shadow: 0 1px 4px rgba(0,0,0,0.25);
    cursor: pointer;
    padding: 3.5px 16px;
    border-radius: 18px;
    color: #ffffff;
    min-width: 70px;
}

.wc-button:hover {
    background-color: var(--tintColor);
    filter: grayscale(25%);
}

.wc-button:disabled {
    background-color: var(--tintColor);
}

.wc-button.button-icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    padding: 8px;
    border-radius: 50%;
    width: 36px;
}

.wc-button.button-icontext {
    background-position: 12px 50%;
    background-repeat: no-repeat;
    background-size: 24px;
    padding: 8px 24px 8px 40px;
}

.buttonWithIcon {
    display: flex;
    flex-direction: row;
    color: white;
    margin-top: 4px;
}

.labelButton {
    color: white;
    margin-top: 6px;
}
.labelButtonIcon {
    margin-top: 5px;
    margin-left: 6px;
}

.transparent {
    background-color: transparent;
    box-shadow: none;
    color: #432776;
    transition: all 0.2s cubic-bezier(.4,0,.2,1);
}

.wc-button-iconDisabled {
    cursor: no-drop;
    color: #acacac;
}
